# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.eFargo Interactive Game.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Erick\Documents\Scripts\eFargo Interactive Game\.idea\.idea.eFargo Interactive Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
